<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <!--avec le formsModule importer j'appelle ngSubmit  et lui appelle à ma methode onSubmit()  -->
            <form (ngSubmit)="onSubmit(f) " #f="ngForm" class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">
          Creer un nouveau compte
        </span>

                <span *ngIf="f.submitted && f.controls['email'].errors " class="text-danger animated fadeIn">Le courrier est
          obligatoire </span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="email" name="email" placeholder="Email" [(ngModel)]="utilisateur.email" required email>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['nom'].errors" class="text-danger animated fadeIn">Le prenom est
          obligatoire</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="nom" placeholder="Nom et Prénom" [(ngModel)]="utilisateur.nom" required minlength="2">
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn"> Minimun six caractères</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="password" placeholder="Password" [(ngModel)]="utilisateur.passaword" required minlength="6">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="rappeler" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
              Rappeler mon utilisateur
            </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
              Vous avez déjà un compte? / Connectez-vous
            </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
            Créer mon compte
          </button>
                </div>

            </form>
        </div>
    </div>
</div>
